@charset "utf-8";
body {
	background-color: lightblue;
	font-family: Arial, Helvetica, sans-serif
}
h1 {
	color: white;
	text-align: center;
}
p {
	font-family: verdana;
	font-size: 20px;
}
.footer {
	background-color: #f2f2f2;
	color: white;
}
#requirements a {
	font-size: 12px;
	color: #2F343C
	}
#requirements a:link {
	text-decoration: none;
}
#requirements a:hover {
	text-decoration: underline;
}
#requirements h1 {
	font-size: 22px;
	padding-top: 20px;
}
#requirements table {
	height: 120px;
}
#copyright {
	background-color: #8998af;
	border: 1px solid black;
	font-size: 12px;
}
.center {
	margin: auto;
	width: auto;
	padding: 10px;
	text-align: center;
}
#requirements {
	background-color: #f2f2f2;
	color: black;
	text-align: center;
}
#requirements h1 {
	color: black;
	font-size: 24px;
}
