#navigationBar {
	display: block;
	width: 100%;
}
.navigationBarRight {
	float: right;
}
.navigationBar ul {
	list-style-type: none;
	margin: 0;
	margin-top: 0px;
	padding: 0;
	width: auto;
	overflow: hidden;
	background-color: #333;
}
.navigationBar li {
	float: left;
	height: 75px;
	text-decoration: none;
}
.navigationBar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: 6px;
}
.navigationBar li a:hover {
	text-shadow: 0 0 1px white;
	border-bottom: 3px solid #3194c0;
}
